<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="Art Gallery Testing">


    <test name="Admin: Art Medium">
        <classes>
            <class name="TestCaseClasses.ArtMediumTest" />
        </classes> 
    </test>

    <test name="Admin: Art Product">
        <classes>
            <class name="TestCaseClasses.ArtProductTest" />
        </classes>
    </test>  

</suite>