<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="Art Gallery Testing">

    <test name="Admin: Artist">
        <classes>
            <class name="TestCaseClasses.ArtistTest" />
        </classes>

    <test name="Admin: Art Medium">
        <classes>
            <class name="TestCaseClasses.ArtMediumTest" />
        </classes> 
    </test>

    <test name="Admin: Art Type">
        <classes>
            <class name="TestCaseClasses.ArtTypeTest" />
        </classes>
    </test>  
 
    <test name="Admin: Art Product">
        <classes>
            <class name="TestCaseClasses.ArtProductTest" />
        </classes>
    </test>  

    <test name="Admin: Enquiry ">
        <classes>
            <class name="TestCaseClasses.EnquiryTest" />
        </classes>
    </test>

    <test name="Admin: Enquiry Search">
        <classes>
            <class name="TestCaseClasses.EnquirySearchTest" />
        </classes>
    </test>  

    <test name="Admin: Pages">
        <classes>
            <class name="TestCaseClasses.PagesTest" />
        </classes>
    </test> 


</suite>