<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="Art Gallery Testing">

    <test name="Admin: Enquiry ">
        <classes>
            <class name="TestCaseClasses.EnquiryTest" />
        </classes>
    </test>

    <test name="Admin: Enquiry Search">
        <classes>
            <class name="TestCaseClasses.EnquirySearchTest" />
        </classes>
    </test>  

</suite>